body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.key-container{
    display: grid;
    grid-template-columns: repeat(30,1fr);
    grid-template-rows: repeat(6,1fr);
    row-gap: 5px;
    column-gap: 10px;
    background-color: #afafaf;
    margin:10% auto;
    padding: 20px;
    width: 90%;
    border-radius: 5px;
}
.key{
    border: 2px solid black;
    padding: 10px 0px;
    text-align: center;
    border-radius: 5px;
    background-color: #eee;
    grid-column: span 2;
    transition: all 0.4s ease-in;
}
.key:hover {
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.4s ease-in;
    
  }
  .delete{
    grid-column: 27/31;
  }
  .tab{
    grid-column: 1/4;
  }
  .backslash{
    grid-column: 28/31;
  }
  .capslock{
    grid-column: 1/5;
  }
  .return{
    grid-column: 27/31;
  }
  .leftshift{
    grid-column: 1/6;
  }
  .rightshift{
    grid-column: 26/31;
  }
  .leftctrl{
    grid-column: 1/3;
  }
  .first-command{
    grid-column: 5/9;
  }
  .space{
    grid-column: 9/21;
  }
  .sec-command{
    grid-column: 21/25;
  }
  
