th, td {
    
    padding: 8px;
    text-align: center;
    font-size: 22px;
    
    
}
body{
    background-color: #bde2e3;
}
.student-img{
    width: 50px;
    height: 55px;
   
}
tr:nth-child(odd) {
    background-color: #2D9596;  
    color: #fff;
   
}
tr:nth-child(even) {
    background-color: #9AD0C2;
    color: #fff;
}
thead, tr, th{
    background-color: rgb(14, 229, 93);
}
tr:hover {
    background-color: #dfaa7e;  
}
.icon{
    color:red
}
table{
    margin:0 auto;
    border-collapse: collapse;
}
.button-container{
   text-align: center;

    padding: 20px;
}
.btn{
    padding: 10px;
    margin:0 25px;
    border: none;
    background-color: rgb(20, 147, 231);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
.table-container {
    display: none;
    text-align: center;
    
}
#Total-students {
    display: block;
}