th, td {
    
    padding: 8px;
    text-align: center;
    font-size: 22px;
    
    
}
body{
    background-color: rgb(205, 223, 235);
}
.student-img{
    width: 50px;
    height: 55px;
   
}
tr:nth-child(odd) {
    background-color: #FFFFFF;  
    
   
}
tr:nth-child(even) {
    background-color: #F5F5F5;
    
}
thead, tr, th{
    background-color: #cbc8c8;
}
tr:hover {
    background-color: #dfaa7e;  
}
.icon{
    color:red
}
table{
    margin:0 auto;
    border-collapse: collapse;
}
.button-container{
   text-align: center;

    padding: 20px;
}
.btn{
    padding: 10px;
    margin:0 25px;
    border: none;
    background-color: rgb(20, 147, 231);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
.table-container {
    display: none;
    text-align: center;
    
}
#Total-students {
    display: block;
}
label {
    font-weight: bold;
    margin-right: 10px;
}
select {
    width: 170px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}